<div class="row">
  <div class="column">
    <div class="card mt-5"  >
 
      <div class="body"> 
        <h2 style="text-align: center;">Status of Shared Places</h2>  
        <hr/>
        <ul>
          <li>The Saniation station nearest to you is at {{admin.santationStations[a]}} </li>
          <li>The current Occupancy at caffeteria is {{admin.cafetatiaCount}} </li>
          <li>Members Present at Conference Hall are {{admin.ConferenceCount}}</li>
        </ul>
      </div>
    
    </div>
  </div>
  <div class="column">
    
    <div class="card mt-5">
    
      <div class="body"> 
        <h2 style="text-align: center;">For Medical Assistance</h2>  
        <hr/>
        <p>ABC - 123456098</p>
        <p>ABC - 123456098</p>
      </div>
    
    </div>
  </div>
</div>